src/wsdl/150.163.46.137_8084/Estacao_Leona/ControllerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.estacao.leona.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.estacao.leona.br/">

<xs:element name="desligarCamera" type="tns:desligarCamera"/>

<xs:element name="desligarCameraResponse" type="tns:desligarCameraResponse"/>

<xs:element name="desligarPantilt" type="tns:desligarPantilt"/>

<xs:element name="desligarPantiltResponse" type="tns:desligarPantiltResponse"/>

<xs:element name="iniciarCaptura" type="tns:iniciarCaptura"/>

<xs:element name="iniciarCapturaResponse" type="tns:iniciarCapturaResponse"/>

<xs:element name="iniciarTransmissao" type="tns:iniciarTransmissao"/>

<xs:element name="iniciarTransmissaoResponse" type="tns:iniciarTransmissaoResponse"/>

<xs:element name="ligarCamera" type="tns:ligarCamera"/>

<xs:element name="ligarCameraResponse" type="tns:ligarCameraResponse"/>

<xs:element name="moverAzimute" type="tns:moverAzimute"/>

<xs:element name="moverAzimuteResponse" type="tns:moverAzimuteResponse"/>

<xs:element name="moverElevacao" type="tns:moverElevacao"/>

<xs:element name="moverElevacaoResponse" type="tns:moverElevacaoResponse"/>

<xs:element name="pararCaptura" type="tns:pararCaptura"/>

<xs:element name="pararCapturaResponse" type="tns:pararCapturaResponse"/>

<xs:element name="pararTransmissao" type="tns:pararTransmissao"/>

<xs:element name="pararTransmissaoResponse" type="tns:pararTransmissaoResponse"/>

<xs:element name="removerDiretorio" type="tns:removerDiretorio"/>

<xs:element name="removerDiretorioResponse" type="tns:removerDiretorioResponse"/>

<xs:element name="removerFotos" type="tns:removerFotos"/>

<xs:element name="removerFotosResponse" type="tns:removerFotosResponse"/>

<xs:element name="resetPantilt" type="tns:resetPantilt"/>

<xs:element name="resetPantiltResponse" type="tns:resetPantiltResponse"/>

<xs:element name="retornarListaStatus" type="tns:retornarListaStatus"/>

<xs:element name="retornarListaStatusResponse" type="tns:retornarListaStatusResponse"/>

<xs:element name="retornarNomesFotos" type="tns:retornarNomesFotos"/>

<xs:element name="retornarNomesFotosResponse" type="tns:retornarNomesFotosResponse"/>

<xs:element name="servico" type="tns:servico"/>

<xs:complexType name="pararTransmissao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pararTransmissaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resetPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resetPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="desligarCamera">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="desligarCameraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerFotos">
<xs:sequence>
<xs:element name="diretorio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerFotosResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornarListaStatus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornarListaStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servico">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ligarCamera">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ligarCameraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarTransmissao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarTransmissaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="moverAzimute">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverAzimuteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pararCaptura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pararCapturaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="removerDiretorio">
<xs:sequence>
<xs:element name="diretorio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removerDiretorioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="desligarPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="desligarPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverElevacao">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverElevacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNomesFotos">
<xs:sequence>
<xs:element name="diretorio" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarNomesFotosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciarCaptura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarCapturaResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>