src/wsdl/150.163.46.137_8084/Estacao_Leona/ControllerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.estacao.leona.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.estacao.leona.br/" name="ControllerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.estacao.leona.br/" schemaLocation="http://150.163.46.137:8084/Estacao_Leona/ControllerServices?xsd=1"/>
</xsd:schema>
</types>
<message name="pararTransmissao">
<part name="parameters" element="tns:pararTransmissao"/>
</message>
<message name="pararTransmissaoResponse">
<part name="parameters" element="tns:pararTransmissaoResponse"/>
</message>
<message name="iniciarCaptura">
<part name="parameters" element="tns:iniciarCaptura"/>
</message>
<message name="iniciarCapturaResponse">
<part name="parameters" element="tns:iniciarCapturaResponse"/>
</message>
<message name="pararCaptura">
<part name="parameters" element="tns:pararCaptura"/>
</message>
<message name="pararCapturaResponse">
<part name="parameters" element="tns:pararCapturaResponse"/>
</message>
<message name="resetPantilt">
<part name="parameters" element="tns:resetPantilt"/>
</message>
<message name="resetPantiltResponse">
<part name="parameters" element="tns:resetPantiltResponse"/>
</message>
<message name="moverAzimute">
<part name="parameters" element="tns:moverAzimute"/>
</message>
<message name="moverAzimuteResponse">
<part name="parameters" element="tns:moverAzimuteResponse"/>
</message>
<message name="moverElevacao">
<part name="parameters" element="tns:moverElevacao"/>
</message>
<message name="moverElevacaoResponse">
<part name="parameters" element="tns:moverElevacaoResponse"/>
</message>
<message name="ligarCamera">
<part name="parameters" element="tns:ligarCamera"/>
</message>
<message name="ligarCameraResponse">
<part name="parameters" element="tns:ligarCameraResponse"/>
</message>
<message name="desligarCamera">
<part name="parameters" element="tns:desligarCamera"/>
</message>
<message name="desligarCameraResponse">
<part name="parameters" element="tns:desligarCameraResponse"/>
</message>
<message name="removerFotos">
<part name="parameters" element="tns:removerFotos"/>
</message>
<message name="removerFotosResponse">
<part name="parameters" element="tns:removerFotosResponse"/>
</message>
<message name="removerDiretorio">
<part name="parameters" element="tns:removerDiretorio"/>
</message>
<message name="removerDiretorioResponse">
<part name="parameters" element="tns:removerDiretorioResponse"/>
</message>
<message name="desligarPantilt">
<part name="parameters" element="tns:desligarPantilt"/>
</message>
<message name="desligarPantiltResponse">
<part name="parameters" element="tns:desligarPantiltResponse"/>
</message>
<message name="iniciarTransmissao">
<part name="parameters" element="tns:iniciarTransmissao"/>
</message>
<message name="iniciarTransmissaoResponse">
<part name="parameters" element="tns:iniciarTransmissaoResponse"/>
</message>
<message name="retornarListaStatus">
<part name="parameters" element="tns:retornarListaStatus"/>
</message>
<message name="retornarListaStatusResponse">
<part name="parameters" element="tns:retornarListaStatusResponse"/>
</message>
<message name="retornarNomesFotos">
<part name="parameters" element="tns:retornarNomesFotos"/>
</message>
<message name="retornarNomesFotosResponse">
<part name="parameters" element="tns:retornarNomesFotosResponse"/>
</message>
<portType name="ControllerServices">
<operation name="pararTransmissao">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/pararTransmissaoRequest" message="tns:pararTransmissao"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/pararTransmissaoResponse" message="tns:pararTransmissaoResponse"/>
</operation>
<operation name="iniciarCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/iniciarCapturaRequest" message="tns:iniciarCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/iniciarCapturaResponse" message="tns:iniciarCapturaResponse"/>
</operation>
<operation name="pararCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/pararCapturaRequest" message="tns:pararCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/pararCapturaResponse" message="tns:pararCapturaResponse"/>
</operation>
<operation name="resetPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/resetPantiltRequest" message="tns:resetPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/resetPantiltResponse" message="tns:resetPantiltResponse"/>
</operation>
<operation name="moverAzimute">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteRequest" message="tns:moverAzimute"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteResponse" message="tns:moverAzimuteResponse"/>
</operation>
<operation name="moverElevacao">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoRequest" message="tns:moverElevacao"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoResponse" message="tns:moverElevacaoResponse"/>
</operation>
<operation name="ligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/ligarCameraRequest" message="tns:ligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/ligarCameraResponse" message="tns:ligarCameraResponse"/>
</operation>
<operation name="desligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarCameraRequest" message="tns:desligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarCameraResponse" message="tns:desligarCameraResponse"/>
</operation>
<operation name="removerFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerFotosRequest" message="tns:removerFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerFotosResponse" message="tns:removerFotosResponse"/>
</operation>
<operation name="removerDiretorio">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerDiretorioRequest" message="tns:removerDiretorio"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/removerDiretorioResponse" message="tns:removerDiretorioResponse"/>
</operation>
<operation name="desligarPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltRequest" message="tns:desligarPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltResponse" message="tns:desligarPantiltResponse"/>
</operation>
<operation name="iniciarTransmissao">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/iniciarTransmissaoRequest" message="tns:iniciarTransmissao"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/iniciarTransmissaoResponse" message="tns:iniciarTransmissaoResponse"/>
</operation>
<operation name="retornarListaStatus">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusRequest" message="tns:retornarListaStatus"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusResponse" message="tns:retornarListaStatusResponse"/>
</operation>
<operation name="retornarNomesFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosRequest" message="tns:retornarNomesFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosResponse" message="tns:retornarNomesFotosResponse"/>
</operation>
</portType>
<binding name="ControllerServicesPortBinding" type="tns:ControllerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="pararTransmissao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pararCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverAzimute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverElevacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerDiretorio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desligarPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarTransmissao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarListaStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarNomesFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControllerServices">
<port name="ControllerServicesPort" binding="tns:ControllerServicesPortBinding">
<soap:address location="http://150.163.46.137:8084/Estacao_Leona/ControllerServices"/>
</port>
</service>
</definitions>