src/wsdl/10.163.16.107_8080/Estacao_Leona/ControllerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.estacao.leona.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.estacao.leona.br/" name="ControllerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.estacao.leona.br/" schemaLocation="http://10.163.16.107:8080/Estacao_Leona/ControllerServices?xsd=1"/>
</xsd:schema>
</types>
<message name="MoverEsquerda">
<part name="parameters" element="tns:MoverEsquerda"/>
</message>
<message name="MoverEsquerdaResponse">
<part name="parameters" element="tns:MoverEsquerdaResponse"/>
</message>
<message name="LigarDesligarCamera">
<part name="parameters" element="tns:LigarDesligarCamera"/>
</message>
<message name="LigarDesligarCameraResponse">
<part name="parameters" element="tns:LigarDesligarCameraResponse"/>
</message>
<message name="MoverBaixo">
<part name="parameters" element="tns:MoverBaixo"/>
</message>
<message name="MoverBaixoResponse">
<part name="parameters" element="tns:MoverBaixoResponse"/>
</message>
<message name="MoverDireita">
<part name="parameters" element="tns:MoverDireita"/>
</message>
<message name="MoverDireitaResponse">
<part name="parameters" element="tns:MoverDireitaResponse"/>
</message>
<message name="MoverCima">
<part name="parameters" element="tns:MoverCima"/>
</message>
<message name="MoverCimaResponse">
<part name="parameters" element="tns:MoverCimaResponse"/>
</message>
<message name="ResetPantilt">
<part name="parameters" element="tns:ResetPantilt"/>
</message>
<message name="ResetPantiltResponse">
<part name="parameters" element="tns:ResetPantiltResponse"/>
</message>
<portType name="ControllerServices">
<operation name="MoverEsquerda">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverEsquerdaRequest" message="tns:MoverEsquerda"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverEsquerdaResponse" message="tns:MoverEsquerdaResponse"/>
</operation>
<operation name="LigarDesligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/LigarDesligarCameraRequest" message="tns:LigarDesligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/LigarDesligarCameraResponse" message="tns:LigarDesligarCameraResponse"/>
</operation>
<operation name="MoverBaixo">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverBaixoRequest" message="tns:MoverBaixo"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverBaixoResponse" message="tns:MoverBaixoResponse"/>
</operation>
<operation name="MoverDireita">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverDireitaRequest" message="tns:MoverDireita"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverDireitaResponse" message="tns:MoverDireitaResponse"/>
</operation>
<operation name="MoverCima">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverCimaRequest" message="tns:MoverCima"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/MoverCimaResponse" message="tns:MoverCimaResponse"/>
</operation>
<operation name="ResetPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/ResetPantiltRequest" message="tns:ResetPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/ResetPantiltResponse" message="tns:ResetPantiltResponse"/>
</operation>
</portType>
<binding name="ControllerServicesPortBinding" type="tns:ControllerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="MoverEsquerda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LigarDesligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MoverBaixo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MoverDireita">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MoverCima">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ResetPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControllerServices">
<port name="ControllerServicesPort" binding="tns:ControllerServicesPortBinding">
<soap:address location="http://10.163.16.107:8080/Estacao_Leona/ControllerServices"/>
</port>
</service>
</definitions>