src/wsdl/150.163.46.138_8080/Estacao_Leona/ControllerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.estacao.leona.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.estacao.leona.br/">

<xs:element name="CannotRealizeException" type="tns:CannotRealizeException"/>

<xs:element name="DesligarCamera" type="tns:DesligarCamera"/>

<xs:element name="DesligarCameraResponse" type="tns:DesligarCameraResponse"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="IniciarCaptura" type="tns:IniciarCaptura"/>

<xs:element name="IniciarCapturaResponse" type="tns:IniciarCapturaResponse"/>

<xs:element name="IniciarTransmissao" type="tns:IniciarTransmissao"/>

<xs:element name="IniciarTransmissaoResponse" type="tns:IniciarTransmissaoResponse"/>

<xs:element name="InterruptedException" type="tns:InterruptedException"/>

<xs:element name="LigarCamera" type="tns:LigarCamera"/>

<xs:element name="LigarCameraResponse" type="tns:LigarCameraResponse"/>

<xs:element name="NoPlayerException" type="tns:NoPlayerException"/>

<xs:element name="PararCaptura" type="tns:PararCaptura"/>

<xs:element name="PararCapturaResponse" type="tns:PararCapturaResponse"/>

<xs:element name="PararTransmissao" type="tns:PararTransmissao"/>

<xs:element name="PararTransmissaoResponse" type="tns:PararTransmissaoResponse"/>

<xs:element name="ResetPantilt" type="tns:ResetPantilt"/>

<xs:element name="ResetPantiltResponse" type="tns:ResetPantiltResponse"/>

<xs:element name="desligarPantilt" type="tns:desligarPantilt"/>

<xs:element name="desligarPantiltResponse" type="tns:desligarPantiltResponse"/>

<xs:element name="iniciarVideo" type="tns:iniciarVideo"/>

<xs:element name="iniciarVideoResponse" type="tns:iniciarVideoResponse"/>

<xs:element name="moverAzimute" type="tns:moverAzimute"/>

<xs:element name="moverAzimuteResponse" type="tns:moverAzimuteResponse"/>

<xs:element name="moverElevacao" type="tns:moverElevacao"/>

<xs:element name="moverElevacaoResponse" type="tns:moverElevacaoResponse"/>

<xs:element name="retornarListaStatus" type="tns:retornarListaStatus"/>

<xs:element name="retornarListaStatusResponse" type="tns:retornarListaStatusResponse"/>

<xs:element name="retornarNomesFotos" type="tns:retornarNomesFotos"/>

<xs:element name="retornarNomesFotosResponse" type="tns:retornarNomesFotosResponse"/>

<xs:element name="servico" type="tns:servico"/>

<xs:complexType name="PararTransmissao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PararTransmissaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarVideo">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="iniciarVideoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IniciarCaptura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IniciarCapturaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoPlayerException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CannotRealizeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retornarListaStatus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornarListaStatusResponse">
<xs:sequence>
<xs:element name="return" type="tns:servico" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="servico">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverAzimute">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverAzimuteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LigarCamera">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LigarCameraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IniciarTransmissao">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IniciarTransmissaoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="moverElevacao">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="moverElevacaoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DesligarCamera">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DesligarCameraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PararCaptura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PararCapturaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornarNomesFotos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retornarNomesFotosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="desligarPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="desligarPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResetPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ResetPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterruptedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>