src/wsdl/150.163.46.137_8080/Estacao_Leona/ControllerServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller.estacao.leona.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller.estacao.leona.br/" name="ControllerServices">
<types>
<xsd:schema>
<xsd:import namespace="http://controller.estacao.leona.br/" schemaLocation="http://150.163.46.137:8080/Estacao_Leona/ControllerServices?xsd=1"/>
</xsd:schema>
</types>
<message name="retornarNomesFotos">
<part name="parameters" element="tns:retornarNomesFotos"/>
</message>
<message name="retornarNomesFotosResponse">
<part name="parameters" element="tns:retornarNomesFotosResponse"/>
</message>
<message name="retornarListaStatus">
<part name="parameters" element="tns:retornarListaStatus"/>
</message>
<message name="retornarListaStatusResponse">
<part name="parameters" element="tns:retornarListaStatusResponse"/>
</message>
<message name="desligarPantilt">
<part name="parameters" element="tns:desligarPantilt"/>
</message>
<message name="desligarPantiltResponse">
<part name="parameters" element="tns:desligarPantiltResponse"/>
</message>
<message name="moverAzimute">
<part name="parameters" element="tns:moverAzimute"/>
</message>
<message name="moverAzimuteResponse">
<part name="parameters" element="tns:moverAzimuteResponse"/>
</message>
<message name="ResetPantilt">
<part name="parameters" element="tns:ResetPantilt"/>
</message>
<message name="ResetPantiltResponse">
<part name="parameters" element="tns:ResetPantiltResponse"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="IniciarVideo">
<part name="parameters" element="tns:IniciarVideo"/>
</message>
<message name="IniciarVideoResponse">
<part name="parameters" element="tns:IniciarVideoResponse"/>
</message>
<message name="moverElevacao">
<part name="parameters" element="tns:moverElevacao"/>
</message>
<message name="moverElevacaoResponse">
<part name="parameters" element="tns:moverElevacaoResponse"/>
</message>
<message name="LigarCamera">
<part name="parameters" element="tns:LigarCamera"/>
</message>
<message name="LigarCameraResponse">
<part name="parameters" element="tns:LigarCameraResponse"/>
</message>
<message name="DesligarCamera">
<part name="parameters" element="tns:DesligarCamera"/>
</message>
<message name="DesligarCameraResponse">
<part name="parameters" element="tns:DesligarCameraResponse"/>
</message>
<message name="IniciarCaptura">
<part name="parameters" element="tns:IniciarCaptura"/>
</message>
<message name="IniciarCapturaResponse">
<part name="parameters" element="tns:IniciarCapturaResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="NoPlayerException">
<part name="fault" element="tns:NoPlayerException"/>
</message>
<message name="CannotRealizeException">
<part name="fault" element="tns:CannotRealizeException"/>
</message>
<message name="PararCaptura">
<part name="parameters" element="tns:PararCaptura"/>
</message>
<message name="PararCapturaResponse">
<part name="parameters" element="tns:PararCapturaResponse"/>
</message>
<portType name="ControllerServices">
<operation name="retornarNomesFotos">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosRequest" message="tns:retornarNomesFotos"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarNomesFotosResponse" message="tns:retornarNomesFotosResponse"/>
</operation>
<operation name="retornarListaStatus">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusRequest" message="tns:retornarListaStatus"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/retornarListaStatusResponse" message="tns:retornarListaStatusResponse"/>
</operation>
<operation name="desligarPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltRequest" message="tns:desligarPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/desligarPantiltResponse" message="tns:desligarPantiltResponse"/>
</operation>
<operation name="moverAzimute">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteRequest" message="tns:moverAzimute"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverAzimuteResponse" message="tns:moverAzimuteResponse"/>
</operation>
<operation name="ResetPantilt">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/ResetPantiltRequest" message="tns:ResetPantilt"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/ResetPantiltResponse" message="tns:ResetPantiltResponse"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/ResetPantilt/Fault/InterruptedException"/>
</operation>
<operation name="IniciarVideo">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarVideoRequest" message="tns:IniciarVideo"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarVideoResponse" message="tns:IniciarVideoResponse"/>
</operation>
<operation name="moverElevacao">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoRequest" message="tns:moverElevacao"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/moverElevacaoResponse" message="tns:moverElevacaoResponse"/>
</operation>
<operation name="LigarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/LigarCameraRequest" message="tns:LigarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/LigarCameraResponse" message="tns:LigarCameraResponse"/>
</operation>
<operation name="DesligarCamera">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/DesligarCameraRequest" message="tns:DesligarCamera"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/DesligarCameraResponse" message="tns:DesligarCameraResponse"/>
</operation>
<operation name="IniciarCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarCapturaRequest" message="tns:IniciarCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarCapturaResponse" message="tns:IniciarCapturaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarCaptura/Fault/IOException"/>
<fault message="tns:NoPlayerException" name="NoPlayerException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarCaptura/Fault/NoPlayerException"/>
<fault message="tns:CannotRealizeException" name="CannotRealizeException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/IniciarCaptura/Fault/CannotRealizeException"/>
</operation>
<operation name="PararCaptura">
<input wsam:Action="http://controller.estacao.leona.br/ControllerServices/PararCapturaRequest" message="tns:PararCaptura"/>
<output wsam:Action="http://controller.estacao.leona.br/ControllerServices/PararCapturaResponse" message="tns:PararCapturaResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/PararCaptura/Fault/IOException"/>
<fault message="tns:NoPlayerException" name="NoPlayerException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/PararCaptura/Fault/NoPlayerException"/>
<fault message="tns:CannotRealizeException" name="CannotRealizeException" wsam:Action="http://controller.estacao.leona.br/ControllerServices/PararCaptura/Fault/CannotRealizeException"/>
</operation>
</portType>
<binding name="ControllerServicesPortBinding" type="tns:ControllerServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retornarNomesFotos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retornarListaStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="desligarPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverAzimute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ResetPantilt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="IniciarVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moverElevacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="LigarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DesligarCamera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="IniciarCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="NoPlayerException">
<soap:fault name="NoPlayerException" use="literal"/>
</fault>
<fault name="CannotRealizeException">
<soap:fault name="CannotRealizeException" use="literal"/>
</fault>
</operation>
<operation name="PararCaptura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="NoPlayerException">
<soap:fault name="NoPlayerException" use="literal"/>
</fault>
<fault name="CannotRealizeException">
<soap:fault name="CannotRealizeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ControllerServices">
<port name="ControllerServicesPort" binding="tns:ControllerServicesPortBinding">
<soap:address location="http://150.163.46.137:8080/Estacao_Leona/ControllerServices"/>
</port>
</service>
</definitions>