src/wsdl/150.163.46.208_8080/Estacao_Leona/ControllerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.estacao.leona.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.estacao.leona.br/">

<xs:element name="LigarDesligarCamera" type="tns:LigarDesligarCamera"/>

<xs:element name="LigarDesligarCameraResponse" type="tns:LigarDesligarCameraResponse"/>

<xs:element name="MoverBaixo" type="tns:MoverBaixo"/>

<xs:element name="MoverBaixoResponse" type="tns:MoverBaixoResponse"/>

<xs:element name="MoverCima" type="tns:MoverCima"/>

<xs:element name="MoverCimaResponse" type="tns:MoverCimaResponse"/>

<xs:element name="MoverDireita" type="tns:MoverDireita"/>

<xs:element name="MoverDireitaResponse" type="tns:MoverDireitaResponse"/>

<xs:element name="MoverEsquerda" type="tns:MoverEsquerda"/>

<xs:element name="MoverEsquerdaResponse" type="tns:MoverEsquerdaResponse"/>

<xs:element name="ResetPantilt" type="tns:ResetPantilt"/>

<xs:element name="ResetPantiltResponse" type="tns:ResetPantiltResponse"/>

<xs:complexType name="MoverEsquerda">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverEsquerdaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverCima">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverCimaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ResetPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ResetPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverDireita">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverDireitaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LigarDesligarCamera">
<xs:sequence>
<xs:element name="valor" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LigarDesligarCameraResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverBaixo">
<xs:sequence>
<xs:element name="graus" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoverBaixoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>